In [56]:
import pandas as pd
import regex as re

In [57]:
df = pd.DataFrame(columns=['id','View','Like','Dislike','Share','Comment'])

In [58]:
df.head()

Empty DataFrame
Columns: [id, View, Like, Dislike, Share, Comment]
Index: []

In [67]:
import pandas as pd
import re

# Initialize an empty DataFrame
df = pd.DataFrame(columns=['Id', 'View', 'Like', 'Dislike', 'Share', 'Comment'])

# Read the content of the text file
with open('YouTubeTrailerComments.txt', 'r') as file:
    lines = file.read()
    segments = re.split(r'(?=MovieID::::)', lines.strip())
    for s in segments:
        if s.strip():  
            match = re.search(r'(\d+ \d+ \d+ \d+ \d+)', s)
            if match:
                # dictionary to hold numbers
                youtube_data = {}
                # search and extract movie id from text
                movie_id = re.search(r'(?=MovieID::::(\d+))', s).group(1)
                youtube_data['Id'] = movie_id
                # split the statistics data and convert to list 
                statistics = match.group(1).split()
                youtube_data['View'] = statistics[0]
                youtube_data['Like'] = statistics[1]
                youtube_data['Dislike'] = statistics[2]
                youtube_data['Share'] = statistics[3]
                youtube_data['Comment'] = statistics[4]
                # append row of data to the dataframe
                df = df._append(youtube_data, ignore_index=True)

In [74]:
df.head()

  Id    View Like Dislike Share Comment
0  1  128238  170       7     0       7
1  2  155561  135      14     0      74
2  3    2532    7       2     0       1
3  4    6827    9       1     0       0
4  5  330807  374      16     0     121

In [75]:
df.tail()

       Id    View  Like Dislike Share Comment
978   996  252661  1080      32     0     111
979   997    5887    19       2     0       0
980   998    5755    10       1     0       0
981   999    6635    19       1     0       0
982  1000   27204    10       4     0       2

In [72]:
df['Share'].unique()

array(['0'], dtype=object)

In [78]:
# looks like share column has 0 value only. we can drop it as it doesnot provides any insight
df.drop(columns = ['Share'], inplace= True)